    <head>
  	<title>Wtf is Zocial?</title>
<style type="text/css">
      body{
    background-color: #45f442;
    font-family: "Courier New", Courier, monospace; 
    }
    li{
      list-style: none;
    }
    #description{
      margin: 30px;
    }
    #title{
      margin-left: 20px;
      margin-top: 30px;
    }
</style>
  </head>
  <body id="base">
  	<h1 id="title">I clicked in the wrong link and now I'm in a place called Zocial how tf do I get out</h1>
  	<br>
  	<div id="description">
  		<p>Zocial is a social network based on remotely making a room where people can interact with avatars and short-lived messages, essentially making a virtual party (well that last part just explained the whole thing)</p>
  		<br>
  		<p>Think this is just an attempt at making something original but completely stupid and the work of a weirdo who can barely code? Well..........</p>
      <p>Also this is still under development (if u haven't noticed) so be patient</p>
      <br>
      <p>Who am I kidding no one is reading dis ;-;</p>
  	</div>