    <head>
  	<title>Wtf is Zocial?</title>
<style type="text/css">
      body{
    background-color: #45f442;
    font-family: "Courier New", Courier, monospace; 
    }
    li{
      list-style: none;
    }
    #description{
      margin: 30px;
    }
    #title{
      margin-left: 20px;
      margin-top: 30px;
    }
    #item{
      margin-left: 30px;
    }
</style>
  </head>
  <body id="base">
  	<h1 id="title">Talk to your dreams, one chat at a time</h1>
  	<br>
  	<div id="description">
  		<p>Zocial is a social network based on remotely making a room where people can interact with avatars and short-lived messages, essentially making a virtual party (well that last part just explained the whole thing).</p>
  		<br>
      <p>Basically, imagine the most famous person on Earth is hosting a room. You can join the room, interact with everyone around and get a chance to actually meet and talk to that famous person. And since every user gets their own message space and temporary messages, it fixes the problem of having a big mess and a chat as fast as a dog on Red Bull.</p>
      <p>I'm also thinking of adding a file system so people can share their projects and ideas</p>
      <br>  
  		<p>Think this is just an attempt at making something original but completely stupid and the work of a weirdo who can barely code? Well...</p>
      <p>Also this is still under development (if u haven't noticed) so be patient. I am a one man army and technically I'm an underage and I'm still busy with school, family and other projects.</p>
      <br>
      <p>But hey, I appreciate any attention and I hope this can actually grow as a website and as a community :D</p>
      <br>
      <ul id="contact">My contacts:
        <p></p>
        <li id="item">email - stumpo.miguel@gmail.com</li>
        <br>
        yeah that's basically it...
      </ul>
  	</div>