<!DOCTYPE html>
<html>
<head>
  <title>Zocial - homepage</title>
  <style type="text/css">
    body{
    background-color: #45f442;
    font-family: "Courier New", Courier, monospace; 
}
#title{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 60px;
}
#description{
 margin-left: 50px;
 margin-bottom: 60px; 
}
  </style>
</head>
  <body id="base">
    <h1 id="title">Zocial</h1>
    <br>
    <div id="description">
      <p>Experience hanging out virtually the good way ;D</p>
      <br>
      <a href="/about">Learn more about what this is about and how the website will evolve</a>
      <br>
      <p>We are finally online! The bad news is that for now the website is shit and there's just one chat room open and that's it... but it will change drastically</p>
      <p>To check it out, click on <a href="/chat">me</a>, the word "<a href="/chat">me</a>", just click on that. No not that other "<a href="/chat">me</a>", the first one.</p>
      <p>Just kidding, all of them work :P</p>
    </div>
</body>
</html>
