<!DOCTYPE html>
<html>
<head>
  <title>Zocial - homepage</title>
  <style type="text/css">
    body{
    background-color: #45f442;
    font-family: "Courier New", Courier, monospace; 
}
#title{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 60px;
}
#description{
 margin-left: 50px;
 margin-bottom: 60px; 
}
  </style>
</head>
  <body id="base">
    <h1 id="title">Zocial</h1>
    <br>
    <div id="description">
      <p>A virtual hangout place!</p>
      <br>
      <a href="/about">Learn more about what this is about</a>
      <p>Wanna check out my test, bro? Click on <a href="/chat">me</a>, the word "<a href="/chat">me</a>", just click on that</p>
    </div>
</body>
</html>
